
<div class="row">
    <h2>
        Hello cutie, where are you looking to park your precious car?
    </h2>
</div>

<form method="get">
    <div class="row">
        <label for="location">Location:</label>
        <input class="form-control" type="text" name="location"></input>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label for="start_time">Start time:</label>
            <input class="form-control" type="text" name="start_time"></input>
        </div>
        <div class="col-md-3">
            <label for="end_time">End time:</label>
            <input class="form-control" type="text" name="end_time"></input>
        </div>
    </div>
    <br/>

    <div class="row">
        <button type="submit" class="btn btn-primary btn-large">Search</button>
    </div>
</form>



